### 서울시 공원 시각화

In [1]:
import numpy as np
import pandas as pd
import folium

In [8]:
df = pd.read_csv('data/서울시 주요 공원현황.csv', encoding='euc-kr')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   연번            132 non-null    int64
 1   공원명           132 non-null    object
 2   공원개요          131 non-null    object
 3   면적            129 non-null    object
 4   개원일           122 non-null    object
 5   주요시설          124 non-null    object
 6   주요식물          88 non-null     object
 7   안내도           102 non-null    object
 8   오시는길          115 non-null    object
 9   이용시참고사항       120 non-null    object
 10  이미지           132 non-null    object
 11  지역            131 non-null    object
 12  공원주소          132 non-null    object
 13  관리부서          132 non-null    object
 14  전화번호          132 non-null    object
 15  X좌표(GRS80TM)  122 non-null    float64
 16  Y좌표(GRS80TM)  122 non-null    float64
 17  X좌표(WGS84)    131 non-null    float64
 18  Y좌표(WGS84)    131 non-null    float64
 19  바로가기          18 non-null     object
dtypes: float64(4), int64(1), object(15)
memory usage: 20.8+ KB

In [10]:
df = df[['공원명', '면적', '공원주소', 'X좌표(WGS84)', 'Y좌표(WGS84)']]
df.head()

,공원명,면적,공원주소,X좌표(WGS84),Y좌표(WGS84)
0,남산도시자연공원,2896887㎡ 임 야 : 2454140㎡ 녹지대 및 기타시설 : 442747㎡,서울특별시 중구 삼일대로 231(예장동),126.990377,37.550140
1,길동생태공원,80683㎡,서울특별시 강동구 천호대로 1291(길동생태공원),127.154779,37.540394
2,서울대공원,9132690m²,경기도 과천시 대공원광장로 102,127.019846,37.426449
3,서울숲,480994㎡,서울특별시 성동구 뚝섬로 273 (성수동1가),127.041798,37.543072
4,월드컵공원,2284085㎡,서울특별시 마포구 하늘공원로 84(월드컵공원),126.878907,37.571805

In [11]:
df.dropna(subset=['면적', 'X좌표(WGS84)'], inplace=True)
df.isna().sum().sum()

0

- 면적에 따라 공원크기를 지도에 표시

In [16]:
df.면적.head(60).tail(10)

50                                            총 16500㎥
51                                             585652㎥
52                                           649709.6㎡
53                                               72132㎡
54                                             66027.8㎡
55                                              265582㎡
56                                           2088704.9㎡
57                                              112070㎡
58                                              993724㎡
59    219167㎡ 곰두리체육센터 : 7370㎡(지하2층 지상3층) 송파도서관 : 825...
Name: 면적, dtype: object

In [17]:
# 총 144m 같은 글에서 '총 ' 지우기

In [28]:
df[df.면적.str.contains('총')]

,공원명,면적,공원주소,X좌표(WGS84),Y좌표(WGS84)
25,감로천생태공원(관악산),총 15000㎡,서울특별시 금천구 독산4동 371?375 373일대,126.907951,37.469625
50,자매근린공원,총 16500㎥,서울특별시 영등포구 의사당대로 166 (우) 07324,126.930290,37.517733
64,올림픽공원,총 1447122㎡,서울특별시 송파구 올림픽로 424 (방이동),127.122959,37.520934