### 한빛아카데미 - 새로나온 책

제목, 저자, 가격, 이미지

In [1]:
import requests
from urllib.parse import quote
import pandas as pd
from bs4 import BeautifulSoup
from tqdm import tqdm

##### 1. 데이터 가져오기

In [2]:
url = 'https://www.hanbit.co.kr/academy/books/new_book_list.html'
result = requests.get(url)
result.text
soup = BeautifulSoup(result.text, 'html.parser')

##### 2. 원하는 데이터 찾기

In [3]:
lis = soup.select('li.sub_book_list')
len(lis)

20

##### 3. 하나를 선택해서 원하는 정보 추출

In [4]:
li = lis[0]

In [5]:
# title
title = li.select_one('.info > .book_tit').get_text()

In [6]:
# writer
writer = li.select_one('.info > .book_writer').get_text().strip()

In [7]:
# price
price = li.select_one('.img_hidden_a > .price').get_text()

##### 4. 한 페이지 내에 있는 정보

In [8]:
line = []
for li in lis:
    title = li.select_one('.info > .book_tit').get_text()
    writer = li.select_one('.info > .book_writer').get_text().strip()
    price = li.select_one('.img_hidden_a > .price').get_text()
    line.append({'title': title, 'writer': writer, 'price': price})
h = pd.DataFrame(line)
h.head()

                                 title         writer    price
0                           처음 배우는 매트랩            방성완  30,000원
1       SAS와 메타분석을 활용한 한번에 적용하는 의학보건통계  히든그레이스 데이터분석팀  34,000원
2                          정보교과교육론(3판)      최현종 , 전용주  30,000원
3  IT CookBook, 기초전자실험 with PSpice(3판)            홍순관  22,000원
4                          경제수학 강의(3판)            김성현  23,000원

##### 5. 에러 처리

##### 6. 모든 페이지에 대해서 처리하기

In [9]:
lines = []
base_url = 'https://www.hanbit.co.kr/academy/books/new_book_list.html'
for pg in tqdm(range(1, 24)):
    url = f'{base_url}?page={pg}&cate_cd=&srt=&searchKey=&keyWord='
    result = requests.get(url)
    soup = BeautifulSoup(result.text, 'html.parser')
    lis = soup.select('li.sub_book_list')
    for li in lis:
        title = li.select_one('.info > .book_tit').get_text()
        writer = li.select_one('.info > .book_writer').get_text().strip()
        price = li.select_one('.img_hidden_a > .price').get_text()
        lines.append({'title': title, 'writer': writer, 'price': price})

100%|██████████| 23/23 [00:11<00:00,  1.97it/s]

In [10]:
hanbit = pd.DataFrame(lines)
hanbit.head(20)

,title,writer,price
0,처음 배우는 매트랩,방성완,"30,000원"
1,SAS와 메타분석을 활용한 한번에 적용하는 의학보건통계,히든그레이스 데이터분석팀,"34,000원"
2,정보교과교육론(3판),"최현종 , 전용주","30,000원"
3,"IT CookBook, 기초전자실험 with PSpice(3판)",홍순관,"22,000원"
4,경제수학 강의(3판),김성현,"23,000원"
5,글로벌 사회와 리더십(2판),안광현,"28,000원"
6,행동 재무론,고광수,"32,000원"
7,"IT CookBook, 알기 쉽게 해설한 파이썬 with 컴퓨팅 사고력","김충석 , 김지연","24,000원"
8,MATLAB으로 배우는 공학 수치해석(3판),방성완,"28,000원"
9,Cengel의 알기 쉬운 열역학(6판),"Yunus A. Çengel , John M. Cimbala , Afshin J. ...","34,000원"
10,Cengel의 알기 쉬운 열전달(6판),"Yunus A. Çengel , John M. Cimbala , Afshin J. ...","34,000원"
11,"IT CookBook, 알기 쉽게 해설한 자바 프로그래밍(10판)",김충석,"30,000원"
12,"IT CookBook, 비즈니스 애널리틱스를 위한 데이터 마이닝","Galit Shmueli , Peter C. Bruce , Peter Gedeck ...","39,000원"
13,현대경영과학(9판),김세헌,"35,000원"
14,"IT CookBook, 네트워크 해킹과 보안(4판)","양대일 , 홍성혁","32,000원"
15,"IT CookBook, 쉽게 배우는 운영체제(2판)",조성호,"32,000원"
16,"IT CookBook, Android Studio를 활용한 안드로이드 프로그래밍(8판)","우재남 , 박길식","34,000원"
17,"STEM CookBook, 전기 및 하이브리드 자동차(3판)",Iqbal Husain,"35,000원"
18,"IT CookBook, 컴퓨터 비전과 딥러닝",오일석,"39,000원"
19,리더십 : 이론과 실제 (9판),Peter G. Northouse,"36,000원"

In [11]:
hanbit.to_csv('data/한빛아카데미_새로나온책.csv', index=False)
pd.read_csv('data/한빛아카데미_새로나온책.csv')

,title,writer,price
0,처음 배우는 매트랩,방성완,"30,000원"
1,SAS와 메타분석을 활용한 한번에 적용하는 의학보건통계,히든그레이스 데이터분석팀,"34,000원"
2,정보교과교육론(3판),"최현종 , 전용주","30,000원"
3,"IT CookBook, 기초전자실험 with PSpice(3판)",홍순관,"22,000원"
4,경제수학 강의(3판),김성현,"23,000원"
...,...,...,...
448,문제해결력을 키우는 이공계 글쓰기 : 발표와 토론까지,한성우,"18,000원"
449,Essential Calculus,James Stewart,"36,000원"
450,의사결정회계,정재권,"28,000원"
451,"IT CookBook, 디지털 통신 시스템 : Digital Communicatio...","정호영 , 임승각","25,000원"
452,인간관계론,"유기현 , 송병선 , 권용만","25,000원"