### 인터파크 - 베스트셀러

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [6]:
url = "http://book.interpark.com/display/collectlist.do?_method=BestsellerHourNew201605&bestTp=1&dispNo=028"
result = requests.get(url)
soup = BeautifulSoup(result.text, 'html.parser')

In [5]:
lis = soup.select('.rankBestContentList > ol > li')
len(lis)

15

In [7]:
li = lis[0]

In [8]:
li1, li13 = lis[0], lis[12]
li1.select('.rankBtn_ctrl')

In [9]:
li13.select('.rankBtn_ctrl')

In [10]:
li1.select_one('.rankBtn_ctrl')['class']

['rankBtn_ctrl', 'rkNum_B01']

In [11]:
rank_data = li.select('.rankBtn_ctrl')
if len(rank_data) == 1:
    rank = int(rank_data[0]['class'][-1][-1])
else:
    rank = int(rank_data[0]['class'][-1][-1] + rank_data[1]['class'][-1][-1])

In [12]:
# 제목
title = li.select_one('.itemName').get_text().strip()
title

'세이노의 가르침'

In [13]:
# 저자
author = li.select_one('.author').get_text().strip()
author

'세이노'

In [14]:
# 출판사
company = li.select_one('.company').get_text().strip()
company

'데이원'

In [15]:
# 가격
price = li.select_one('.price > em').get_text().strip()
price = int(price.replace(',',''))
price

6480

In [20]:
image = li.select_one('img')['src']
image

'http://bimage.interpark.com/goods_image/2/5/3/1/356522531s.jpg'

In [ ]:
lines = []
for li in lis:
    rank_data = li.select('.rankBtn_ctrl')
    if len(rank_data) == 1:
        rank = int(rank_data[0]['class'][-1][-1])
    else:
        rank = int(rank_data[0]['class'][-1][-1] + rank_data[1]['class'][-1][-1]) 
    title = li.select_one('.itemName').get_text().strip()
    author = li.select_one('.author').get_text().strip()
    company = li.select_one('.company').get_text().strip()
    price = li.select_one('.price > em').get_text().strip()   
    lines.append({'순위':rank, '제목':title, '저자':author, '출판사':company, '가격':price})

In [ ]:
pd.DataFrame(lines)

,순위,제목,저자,출판사,가격
0,1,세이노의 가르침,세이노,데이원,"6,480"
1,2,이지성의 1만 킬로미터,이지성,차이정원,"16,200"
2,3,고래,천명관,문학동네,"13,500"
3,4,흔한남매 13,"흔한남매, 백난도/유난희 그림/흔한컴퍼니 감수",미래엔아이세움,"13,050"
4,4,모든 삶은 흐른다,이주영 역,피카(FIKA),"15,120"
5,6,장하준의 경제학 레시피,장하준,부키,"16,200"
6,6,건강과 다이어트를 동시에 잡는 7대 3의 법칙 채소·과일식,조승우,바이북스,"17,100"
7,8,몰입 합본판,,알에이치코리아,"28,800"
8,8,이미 늦었다고 생각하는 당신을 위한 김미경의 마흔 수업,김미경,어웨이크북스,"16,200"
9,10,나의 돈 많은 고등학교 친구,송희구,서삼독,"16,200"
10,10,내가 가진 것을 세상이 원하게 하라,최인아,해냄출판사,"15,750"
11,10,메리골드 마음 세탁소,윤정은,북로망스,"13,500"
12,10,역행자,자청,웅진지식하우스,"15,750"
13,10,창의적 인재 양성을 위한 인간관계 중심 인성교육,"김선중, 양은희",어가,"17,000"
14,15,로스쿨 민법의 정석,정연석,정독,"36,000"