In [2]:
import requests
from urllib.parse import quote
import pandas as pd
from bs4 import BeautifulSoup
from tqdm import tqdm

In [4]:
url = 'https://www.aladin.co.kr/shop/common/wbest.aspx?BranchType=1'
result = requests.get(url)
soup = BeautifulSoup(result.text, 'html.parser')

In [5]:
lis = soup.select('.ss_book_box')
len(lis)

50

In [6]:
li = lis[0]

In [19]:
title = li.select_one('.ss_book_list > ul > li > a > b').get_text()
title

'세이노의 가르침'

In [27]:
writer = li.select_one('.ss_book_list > ul > li')
writer

In [ ]:
atags = li.select('.ss_book_list > ul > li > a')
spantags = li.select('.ss_book_list > ul > li > span')

In [ ]:
line = []
for li in lis:
    title = li.select_one('.ss_book_list > ul > li > a > b').get_text()
    writer = atags[1].get_text()
    price = spantags[2].get_text() + '원'
    line.append({'title': title, 'writer': writer, 'price': price})
a = pd.DataFrame(line)
a.head()

      title writer   price
0  세이노의 가르침    세이노  7,200원
1  세이노의 가르침    세이노  7,200원
2  세이노의 가르침    세이노  7,200원
3  세이노의 가르침    세이노  7,200원
4  세이노의 가르침    세이노  7,200원

In [ ]:
lines = []
base_url = 'https://www.aladin.co.kr/shop/common/wbest.aspx?BestType=Bestseller&BranchType=1&CID=0'
for pg in tqdm(range(1, 21)):
    url = f'{base_url}&page={pg}&cnt=1000&SortOrder=1'
    result = requests.get(url)
    soup = BeautifulSoup(result.text, 'html.parser')
    lis = soup.select('div.ss_book_box')
    li = lis[0]
    atags = li.select('.ss_book_list > ul > li > a')
    spantags = li.select('.ss_book_list > ul > li > span')
    for li in lis:
        title = atags[0].get_text()
        writer = atags[1].get_text()
        publisher = atags[2].get_text()
        price = spantags[2].get_text() + '원'
        dc_price = spantags[3].get_text()
        mileage = spantags[5].get_text() + '원'
        lines.append({'title': title, 'writer': writer, 'publisher': publisher, 'price': price, 'dc_price': dc_price, 'mileage': mileage})

100%|██████████| 20/20 [00:38<00:00,  1.93s/it]

In [ ]:
aladin = pd.DataFrame(lines)
aladin.head()

      title writer publisher   price dc_price mileage
0  세이노의 가르침    세이노       데이원  7,200원   6,480원    360원
1  세이노의 가르침    세이노       데이원  7,200원   6,480원    360원
2  세이노의 가르침    세이노       데이원  7,200원   6,480원    360원
3  세이노의 가르침    세이노       데이원  7,200원   6,480원    360원
4  세이노의 가르침    세이노       데이원  7,200원   6,480원    360원