### 3. 고급 인덱싱

In [1]:
import numpy as np
import pandas as pd

##### 3.1. loc 인덱서

- 인수가 한 개인 경우

In [3]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["x", "y", "z"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

In [4]:
df.loc['y']         # 행을 시리즈로 출력

A    14
B    15
C    16
D    17
Name: y, dtype: int32

In [7]:
df.loc['x':'y']

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [8]:
df['x':'y']

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [9]:
df.A > 15

x    False
y    False
z     True
Name: A, dtype: bool

In [10]:
df[df.A > 15]

    A   B   C   D
z  18  19  20  21

- 인수가 두 개인 경우

In [11]:
df.loc['y', 'B']            # 행 인덱스, 열 인덱스

15

In [13]:
df.loc['y':'z', 'B':'C']

    B   C
y  15  16
z  19  20

##### 3.2 iloc 인덱서

In [14]:
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

In [15]:
df.iloc[1]      # 'y' 행, 인덱스 값은 1

A    14
B    15
C    16
D    17
Name: y, dtype: int32

In [16]:
df.iloc[:2]     # 숫자니까 행 인덱스 값 2는 포함되지 않는다

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [17]:
df.iloc[1, 1]

15

- 연습 문제 4.3.1
    - 모든 행과 열에 라벨을 가지는 5 x 5 이상의 크기를 가지는 데이터프레임을 만든다.
    - 10가지 이상의 방법으로 특정한 행과 열을 선택한다.

In [29]:
df = pd.DataFrame(np.arange(25).reshape(5, 5),
                  index=list('xyzab'),
                  columns=list('ABCDE'))
df

    A   B   C   D   E
x   0   1   2   3   4
y   5   6   7   8   9
z  10  11  12  13  14
a  15  16  17  18  19
b  20  21  22  23  24

In [34]:
df['C']['z'], df.C['z'], df.C.z, df['C'].z, df.C[2], df['C'][2]

(12, 12, 12, 12, 12, 12)

In [37]:
df.loc['z', 'C'], df.loc['z']['C'], df.loc['z'].C, df.loc['z'][2]

(12, 12, 12, 12)

In [36]:
df.iloc[2, 2], df.iloc[2][2], df.iloc[2]['C'], df.iloc[2].C

(12, 12, 12, 12)

In [38]:
df[2:3]['C'][0]

12