In [7]:
import numpy as np
import pandas as pd

- 경기도 인구 소멸 비율(2022. 12 기준)
    - 가임기 여성(만 20~39세) 인구수 / 60세 이상 노년 인구
    - 경기도의 인구 소멸 위기지역 Top 10
    - 위기지역: 기초자치단체 (시, 군)
    - 특례시: 수원, 고양, 용인 (구)
    - 행정구: 성남, 안산, 안양 (구)

In [8]:
d_pct = pd.read_csv('data/주민등록인구집계현황.csv', encoding='euc-kr')
d_pct.head(3)

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,10~19세 (여),20~29세 (여),30~39세 (여),40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여)
0,2022,12,도,경기도,13589432,1040954,1327726,1737291,1882300,2284603,...,647283,821150,904073,1121889,1133428,878494,437251,252711,44184,1369
1,2022,12,시군,경기도 가평군,62197,2930,4463,5929,5397,7589,...,2186,2503,2433,3525,5090,6439,3653,2408,411,13
2,2022,12,읍면동,경기도 가평군 가평읍,19555,1020,1673,2094,1795,2630,...,778,937,848,1244,1583,1805,1054,739,126,6

In [9]:
d_pct['인구 소멸 비율'] = (d_pct.loc[:, '20~29세 (여)':'30~39세 (여)'].sum(axis=1) / d_pct.loc[:, '60~69세':'100세 이상'].sum(axis=1)).round(2)
d_pct = d_pct[(d_pct['행정구역구분명'] != '도') & (d_pct['행정구역구분명'] != '읍면동')]
d_pct.head(3)

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,20~29세 (여),30~39세 (여),40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여),인구 소멸 비율
1,2022,12,시군,경기도 가평군,62197,2930,4463,5929,5397,7589,...,2503,2433,3525,5090,6439,3653,2408,411,13,0.20
8,2022,12,시군,경기도 고양시,1075202,73997,101074,140606,142572,172996,...,69028,71491,88876,101197,70061,35492,24019,4054,108,0.57
9,2022,12,구,경기도 고양시 덕양구,487874,36231,41419,60469,70476,78293,...,29600,35039,38962,42695,32981,17538,11022,1750,44,0.56

In [10]:
d_pct = d_pct[['행정구역명', '인구 소멸 비율']]
d_pct

             행정구역명  인구 소멸 비율
1         경기도 가평군       0.20
8         경기도 고양시       0.57
9     경기도 고양시 덕양구       0.56
31   경기도 고양시 일산동구       0.60
44   경기도 고양시 일산서구       0.56
56        경기도 과천시       0.62
63        경기도 광명시       0.53
83        경기도 광주시       0.51
100       경기도 구리시       0.53
109       경기도 군포시       0.54
122       경기도 김포시       0.62
137      경기도 남양주시       0.51
156      경기도 동두천시       0.33
165       경기도 부천시       0.52
176       경기도 성남시       0.58
177   경기도 성남시 분당구       0.66
200   경기도 성남시 수정구       0.51
218   경기도 성남시 중원구       0.50
231       경기도 수원시       0.74
232   경기도 수원시 권선구       0.63
245   경기도 수원시 영통구       0.56
258   경기도 수원시 장안구       0.56
269   경기도 수원시 팔달구       0.53
280       경기도 시흥시       0.72
300       경기도 안산시       0.63
301   경기도 안산시 단원구       0.64
314   경기도 안산시 상록구       0.62
328       경기도 안성시       0.38
344       경기도 안양시       0.56
345   경기도 안양시 동안구       0.63
363   경기도 안양시 만안구       0.48
379       경기도 양주시       0.44
391       경기도 양평군       0.20
404       경기도 여주시       0.27
417       경기도 연천군       0.20
428       경기도 오산시       0.76
435       경기도 용인시       0.59
436   경기도 용인시 기흥구       0.61
452   경기도 용인시 수지구       0.66
464   경기도 용인시 처인구       0.48
477       경기도 의왕시       0.54
484      경기도 의정부시       0.53
499       경기도 이천시       0.51
514       경기도 파주시       0.56
532       경기도 평택시       0.65
558       경기도 포천시       0.28
574       경기도 하남시       0.67
589       경기도 화성시       0.87

In [11]:
# gu_city = ['수원시', '고양시', '용인시', '성남시', '안산시', '안양시']
# d_pct.행정구역명 = d_pct.행정구역명.str.strip()
# drop_index = []
# for index in d_pct[d_pct.행정구역구분명 == '시군'].index:
#     if d_pct.행정구역명[index].split()[-1] in gu_city:
#     drop_index.append(index)
# d_pct.drop(drop_index, inplace=True)
d_pct = d_pct.drop([8, 176, 231, 300, 344, 435])
d_top10 = d_pct.sort_values(by='인구 소멸 비율').head(10)
d_top10.index=range(1, 11)
d_top10

           행정구역명  인구 소멸 비율
1       경기도 가평군       0.20
2       경기도 연천군       0.20
3       경기도 양평군       0.20
4       경기도 여주시       0.27
5       경기도 포천시       0.28
6      경기도 동두천시       0.33
7       경기도 안성시       0.38
8       경기도 양주시       0.44
9   경기도 용인시 처인구       0.48
10  경기도 안양시 만안구       0.48