### Kpop DAO를 이용한 MySQL DB Access

In [1]:
import kpop_dao as kd
import pandas as pd

- Song list 가져오기

In [2]:
rows = kd.get_song_list(10)
rows

[(101, 'Tell Me', 'tell me tell me tetetete tel me'),
 (102, 'Gee', 'GEE GEE GEE GEE GEE BABY BABY'),
 (103, '미스터', '이름이 뭐야 미스터'),
 (104, 'Abracadabra', '이러다 미쳐 내가 여리여리'),
 (105, '8282', 'Give me a call Baby baby'),
 (106, '기대해', '기대해'),
 (107, "I Don't care", '다른 여자들의 다리를'),
 (108, 'Bad Girl Good Girl', '앞에선 한 마디 말도'),
 (109, '피노키오', '뉴예삐오'),
 (110, '별빛달빛', '너는 내 별빛 내 마음의 별빛')]

In [3]:
df = pd.DataFrame(rows, columns=['id', 'title', 'lyrics'])
df.set_index('id', inplace=True)
df

                  title                           lyrics
id
101             Tell Me  tell me tell me tetetete tel me
102                 Gee    GEE GEE GEE GEE GEE BABY BABY
103                 미스터                       이름이 뭐야 미스터
104         Abracadabra                   이러다 미쳐 내가 여리여리
105                8282         Give me a call Baby baby
106                 기대해                              기대해
107        I Don't care                      다른 여자들의 다리를
108  Bad Girl Good Girl                      앞에선 한 마디 말도
109                피노키오                             뉴예삐오
110                별빛달빛                 너는 내 별빛 내 마음의 별빛

- Girl group list 가져오기

In [4]:
rows = kd.get_girl_group_list(10)
rows

[(1001, '원더걸스', datetime.date(2007, 2, 10), 101),
 (1002, '소녀시대', datetime.date(2007, 8, 2), 102),
 (1003, '카라', datetime.date(2009, 7, 30), 103),
 (1004, '브라운아이드걸스', datetime.date(2008, 1, 17), 104),
 (1005, '다비치', datetime.date(2009, 2, 27), 105),
 (1006, '2NE1', datetime.date(2009, 7, 8), 106),
 (1007, 'f(x)', datetime.date(2011, 4, 20), 108),
 (1008, '시크릿', datetime.date(2011, 1, 6), 109),
 (1009, '레인보우', datetime.date(2010, 8, 12), 110),
 (1010, '애프터 스쿨', datetime.date(2009, 11, 25), 120)]

In [5]:
df = pd.DataFrame(rows, columns=['id','name','debut','hit_song_id'])
df.set_index('id', inplace=True)
df

          name       debut  hit_song_id
id
1001      원더걸스  2007-02-10          101
1002      소녀시대  2007-08-02          102
1003        카라  2009-07-30          103
1004  브라운아이드걸스  2008-01-17          104
1005       다비치  2009-02-27          105
1006      2NE1  2009-07-08          106
1007      f(x)  2011-04-20          108
1008       시크릿  2011-01-06          109
1009      레인보우  2010-08-12          110
1010    애프터 스쿨  2009-11-25          120

- 해당연도에 데뷔한 걸그룹의 힛트송

In [8]:
rows = kd.get_song_list_by_debut(2007)
rows

[('원더걸스', datetime.date(2007, 2, 10), 'Tell Me'),
 ('소녀시대', datetime.date(2007, 8, 2), 'Gee')]

In [9]:
df = pd.DataFrame(rows, columns=['name','debut','hit_song'])
df

   name       debut hit_song
0  원더걸스  2007-02-10  Tell Me
1  소녀시대  2007-08-02      Gee

- 노래 추가

In [10]:
params = ('제목', '가사')
kd.insert_song(params)

In [11]:
rows = kd.get_song_list(10, 10)
rows

[(111, 'A', 'A 워오우 워오우워 우우우'),
 (112, '나혼자', '나 혼자 밥을 먹고 나 혼자 영화 보고'),
 (113, 'LUV', '설레이나요 '),
 (114, '짧은치마', '짧은 치마를 입고 내가 길을 걸으면'),
 (115, '위아래', '위 아래 위위 아래'),
 (116, 'Dumb Dumb', '너 땜에 하루종일'),
 (117, '테스트 제목', '테스트 가사'),
 (118, '제목', '가사')]

- 걸 그룹 추가

In [12]:
params = ('뉴진스', '2022-08-01', 117)
kd.insert_girl_group(params)

In [13]:
rows = kd.get_girl_group_list(10, 10)
rows

[(1011, '포미닛', datetime.date(2009, 8, 28), 121),
 (1012, '뉴진스', datetime.date(2022, 8, 1), 117)]